.product-list {
  .product-info {
    flex: 1;
    min-width: 0;
    margin-left: 12px;
  }

  .product-img {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
  }

  .product-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    -webkit-box-orient: vertical;
  }

  .product-desc {
    margin-top: 4px;
    font-size: 12px;
    color: #999;
  }

  .product-bottom {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
  }

  .product-price {
    font-size: 12px;
    color: #f2270c;

    em {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
    }
  }

  .product-origin-price {
    margin-left: 6px;
    font-size: 12px;
    color: #bbb;
    text-decoration: line-through;
  }

  .product-shop {
    margin-left: auto;
    font-size: 12px;
    color: #999;
  }
}
